---
const {data} = Astro.props;
---

<article>
    <a href=`/case/${data.id}`>
        <img src=`https://sfkiytfrnmwhihljfcxl.supabase.co/storage/v1/object/public/Toki/${data.image}` alt="case image"/>
    </a>
    <div class="name">
    <h2>{data.brand_name}</h2>
    <h3>{data.product_name}</h3>
    </div>
</article>


<style>
    article {
        padding: 2rem;
        border-radius: 15px;
    }
    a {
        display: block;
        text-decoration: none;
        color: inherit;
        transition: transform 0.3s ease;
    }
    a:hover {
        transform: scale(1.05);
    }
    .name {
        padding-left: 2rem;
    }
    h2 {
        font-weight: 300;
        display: inline-block;
        padding-bottom: 0.25rem;
        border-bottom: 0.5px solid black;
        margin: 0;
    }
    h3 {
        color: #D8A8a0;
        font-weight: 400;
        margin: 0;
        margin-top: 0.50rem;
    }
</style>